<div class="head-bread">
    <div class="container">
        <ol class="breadcrumb">
            <li> <%= link_to "HOME", root_path %> </li>
            <li class="active">LOGIN</li>
        </ol>
    </div>
</div>

<div class="login">
    <div class="container">
        <div class="login-grids">
            <div class="col-md-6 log">
                <h3>Reset Password</h3>
                <div class="strip"></div>
                <p>Please input your email below. We will email an instruction on 
                    how to reset your email.</p>
                <!-- <p>If you have previously Login with us, <a href="#">Click Here</a></p> -->
                <div class="row">
                <div class="col-xs-10 col-xs-offset-0">
                    <% flash.each do |name, msg| %>
                    <div class='alert alert-<%="#{name}" %>'>
                        <a href="#" class="close" data-dismiss="alert">&#215;</a>
                        <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
                    </div>
                    <% end %>
                </div>
                </div>
                <%= form_tag("/users/new", method: "post") do %>
                    <h5>Email:</h5>	
                    <input name="email" type="text">			
                    <input type="submit" value="Send">
                <% end %>
            </div>
            <div class="col-md-6 login-right">
                <h3>New Registration</h3>
                <div class="strip"></div>
                <p>By creating an account with our store, you will be able to move through the checkout process faster, store multiple shipping addresses, view and track your orders in your account and more.</p>
                <a href="/registration" class="button">Create An Account</a>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>