<div class="products-gallery">
    <div class="container">
        <div class="col-md-9 grid-gallery">
            <% if @products %>
            <% @products.each do |product| %>
            <div class="col-md-4 grid-stn simpleCart_shelfItem">
                <!-- normal -->
                    <div class="ih-item square effect3 bottom_to_top">
                        <div class="bottom-2-top">
                        <div class="img"><img src="<%= product.image %>" alt="/" class="img-responsive gri-wid"></div>
                        <div class="info">
                            <div class="pull-left styl-hdn">
                                <h3>style 01</h3>
                            </div>
                            <div class="pull-right">
                                <h3> $<%= product.price %></h3>
                            </div>
                            <div class="clearfix"></div>
                        </div></div>
                    </div>
                <!-- end normal -->
                <div class="quick-view">
                    <%= link_to "Quick view", product_path(product.id), method: :get %>
                </div>
            </div>
            <% end %>
            <% end %>
            <div class="clearfix"></div>
            </div>


            
        <div class="col-md-3 grid-details">
            <div class="grid-addon">
                    
                <section  class="sky-form">
                    <div class="product_right">
                        <h4 class="m_2"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span>Categories</h4>
                        <div class="tab1">
                            <ul class="place">								
                                <a href="/products/browse?category=women"> <li class="sort">Women</li></a>
                                <div class="clearfix"> </div>
                            </ul>
                        </div>						  
                        <div class="tab2">
                            <ul class="place">								
                                <a href="/products/browse?category=men"> <li class="sort">Men</li></a>
                                <div class="clearfix"> </div>
                            </ul>
                        </div>
                        <div class="tab3">
                            <ul class="place">								
                                <a href="/products/browse?category=kids"> <li class="sort">Kids</li></a>
                                <div class="clearfix"> </div>
                            </ul>
                        </div>						  				 
                </section>
			 
                <section  class="sky-form">
                    <h4>
                        <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>Type
                       
                    </h4>
                    <div class="row row1 scroll-pane">
                        <div class="col col-4">
                            <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Running</label>
                            <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Basket ball</label>
                            <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Foot ball</label>
                            <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Soccer</label>
                            <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Volley ball</label>
                            <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Base ball</label>
                            <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Tennis</label>
                        </div>
                    </div>
                    <br>
                    <a class="btn btn-default log-bar">Filter type</a>
                </section>
		
            </div>
        </div>
        <div class="clearfix"></div>
        </div> 
    </div>