<div class="col-xs-5 col-xs-offset-0">
        <% flash.each do |name, msg| %>
        <div class='alert alert-<%="#{name}" %>'>
            <a href="#" class="close" data-dismiss="alert">&#215;</a>
            <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
        </div>
        <% end %>
    </div>
    <br><br>
    <div class="reg-form">
    <div class="container">
        <div class="reg">
            <h3>Update Product</h3>
            <%= render "form_update_prod" %>
        </div>
    </div>
</div>