<div class="head-bread">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li class="active">PRODUCTS</li>
        </ol>
    </div>
</div>

<%= render "product_search_listing" %>

